<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <properties>
    <property key="datasource" value="192.168.31.196" />   <!--192.168.31.196-->
    <property key="database" value="JYM_DBS" />
    <property key="userid" value="sa" />
    <property key="password" value="mesnac" />
  </properties>
  
  <settings>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
    <setting useReflectionOptimizer="true"/>
  </settings>
  <providers uri="file://config/providers.config"/>
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="DBCONNECTSTRING" connectionString="data source=${datasource};database=${database};uid=${userid};pwd=${password}"/>
  </database>
</sqlMapConfig>
