<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@BinArea" parameterClass="map" resultClass="row">
      <![CDATA[ 
    SELECT [area_no]
      ,[area_name]
      ,[DELETE_FLAG]
      ,[RECORD_USER_ID]
      ,[RECORD_TIME]
  FROM [JYM_1_PK].[dbo].[PSB_BIN_AREA] T
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.area_no" prepend="AND">
           <![CDATA[ T.area_no LIKE '%'+#where.area_no#+'%']]>
         </isNotNull>
        <isNotNull property="where.area_name" prepend="AND">
          <![CDATA[ T.area_name = #where.area_name#]]>
        </isNotNull>
       </dynamic>
      ORDER BY area_no
    </select>
     <select id="Select+Update@BinArea" parameterClass="int" resultClass="row">
       <![CDATA[ 
       SELECT * FROM PSB_BIN_AREA T
      ]]>
       <dynamic prepend="WHERE">
         <!--<isNotNull property="where.PALLET_NO" prepend = "AND">-->
           <![CDATA[ T.area_no = #area_no#]]>
         <!--</isNotNull>-->
       </dynamic>
     </select>
  </statements>
</sqlMap>
