<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
     <select id="Select@TransErrLog" parameterClass="map" resultClass="row">    
      <![CDATA[        
          SELECT LOC_PLC_NO,
           ERR_DESC, 
           ERR_BEGIN_TIME, 
           ERR_END_TIME, 
           ERR_SECONDS
          FROM Z40_LOC_ERR_LOG T 
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.LOC_PLC_NO" prepend="AND">
           <![CDATA[ T.LOC_PLC_NO like '%'+#where.LOC_PLC_NO#+'%']]>
         </isNotNull>
         <isNotNull property="where.B_TIME" prepend="AND">
           <![CDATA[ T.ERR_BEGIN_TIME >=#where.B_TIME#  ]]>
         </isNotNull>
         <isNotNull property="where.E_TIME" prepend="AND">
           <![CDATA[ T.ERR_BEGIN_TIME <=1+ #where.E_TIME#  ]]>
         </isNotNull>
       </dynamic>
       ORDER BY T.ERR_BEGIN_TIME DESC
     </select>
   </statements>
</sqlMap>
