<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_TbSrLine" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM TB_SR_Line T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.lineID" prepend="AND">
           T1.lineID LIKE '%'||#where.lineID#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY lineID
     </select>
     <select id="Select@View_TbSrLine@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM TB_SR_Line T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.lineID" prepend = "AND">
           T1.lineID = #where.lineID#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
