<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@PsbJobStatus" parameterClass="map" resultClass="row">
      <![CDATA[ 
          SELECT [ID]
          ,[JOBNO]
          ,[JOBNAME]
          ,[INTERVAL]
          ,[JOBSTATUS]
          ,[EXCUTERESULT]
          ,[USEDFLAG]
          ,[LASTEXCUTETIME]
          ,[MAXEXCUTETIME]
          ,[MINEXCUTETIME]
          ,[AVGEXCUTETIME]
          ,[TOTALEXCUTETIME]
          ,[EXCUTECOUNT]
          ,[SPNAME]
          FROM [dbo].[PSB_JOB_STATUS] T
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.ID" prepend="AND">
           <![CDATA[ T.ID = #where.ID#]]>
         </isNotNull>
       </dynamic>
      ORDER BY T.ID DESC
    </select>
     <select id="Select@PsbJobStatus@MainDetail" parameterClass="int" resultClass="row">
       <![CDATA[ 
       SELECT * FROM PSB_JOB_STATUS T
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.ID" prepend = "AND">
           <![CDATA[ T.ID = #where.ID#]]>                                                                                                                                                                                                                                                                  
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
